.chat-form {
  flex: 1;
  display: flex;
  border-top: 1px solid #d3d6d8;
  background: #fbfcfc;
  align-items: center;
  padding: 2rem 3rem;

  &__input {
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #fbfcfc;
    color: #616d7a;
    font-size: 1.6rem;
    font-weight: 300;
  }

  &__send {
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    background: inherit;

    &-icon {
      font-size: 1.6rem;
      padding: 1.2rem;
      background: #616d7a;
      color: #fbfcfc;
      border-radius: 50%;
      vertical-align: middle;
      text-align: center;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
}
