.info-bar {
  padding: 3rem;
  border-bottom: 1px solid #d3d6d8;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__room-name {
    font-weight: bold;
    font-size: 1.6rem;
  }

  &__btn {
    border: 0;
    width: 12.5rem;
    height: 2.9rem;
    border-radius: 3px;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s;

    i {
      margin-left: 6px;
    }

    &--invite {
      background: #00a8ff;
      margin-right: 1.6rem;
      &:hover {
        background: darken(#00a8ff, 15%);
      }
    }

    &--leave {
      background: #e84118;
      &:hover {
        background: darken(#e84118, 15%);
      }
    }
  }
}
